<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @recipient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @recipient.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @recipient.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @recipient.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @recipient.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @recipient.postal_code %>
</p>

<p>
  <strong>Route number:</strong>
  <%= @recipient.route_number %>
</p>

<p>
  <strong>Print sort:</strong>
  <%= @recipient.print_sort %>
</p>

<p>
  <strong>Coldpref1:</strong>
  <%= @recipient.coldpref1 %>
</p>

<p>
  <strong>Coldpref2:</strong>
  <%= @recipient.coldpref2 %>
</p>

<p>
  <strong>Hotpref:</strong>
  <%= @recipient.hotpref %>
</p>

<p>
  <strong>Recipients phone:</strong>
  <%= @recipient.recipients_phone %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @recipient.birthdate %>
</p>

<p>
  <strong>Doctor name:</strong>
  <%= @recipient.doctor_name %>
</p>

<p>
  <strong>Doctor phone:</strong>
  <%= @recipient.doctor_phone %>
</p>

<p>
  <strong>Diet:</strong>
  <%= @recipient.diet %>
</p>

<p>
  <strong>Substitutions:</strong>
  <%= @recipient.substitutions %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @recipient.contact_name %>
</p>

<p>
  <strong>Contact relationship:</strong>
  <%= @recipient.contact_relationship %>
</p>

<p>
  <strong>Contact work phone:</strong>
  <%= @recipient.contact_work_phone %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @recipient.contact_phone %>
</p>

<p>
  <strong>Note:</strong>
  <%= @recipient.note %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @recipient.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @recipient.end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @recipient.status %>
</p>

<p>
  <strong>Referred by:</strong>
  <%= @recipient.referred_by %>
</p>

<p>
  <strong>Directions to home:</strong>
  <%= @recipient.directions_to_home %>
</p>

<p>
  <strong>Assisted:</strong>
  <%= @recipient.assisted %>
</p>

<p>
  <strong>Payment details:</strong>
  <%= @recipient.payment_details %>
</p>

<p>
  <strong>Assistance amount:</strong>
  <%= @recipient.assistance_amount %>
</p>

<p>
  <strong>Billing name:</strong>
  <%= @recipient.billing_name %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @recipient.billing_address %>
</p>

<p>
  <strong>Billing city:</strong>
  <%= @recipient.billing_city %>
</p>

<p>
  <strong>Billing state:</strong>
  <%= @recipient.billing_state %>
</p>

<p>
  <strong>Billing zip:</strong>
  <%= @recipient.billing_zip %>
</p>

<p>
  <strong>Termination reason:</strong>
  <%= @recipient.termination_reason %>
</p>

<p>
  <strong>Mon hot:</strong>
  <%= @recipient.mon_hot %>
</p>

<p>
  <strong>Tue hot:</strong>
  <%= @recipient.tue_hot %>
</p>

<p>
  <strong>Wed hot:</strong>
  <%= @recipient.wed_hot %>
</p>

<p>
  <strong>Thur hot:</strong>
  <%= @recipient.thur_hot %>
</p>

<p>
  <strong>Fri hot:</strong>
  <%= @recipient.fri_hot %>
</p>

<p>
  <strong>Sat hot:</strong>
  <%= @recipient.sat_hot %>
</p>

<p>
  <strong>Sun hot:</strong>
  <%= @recipient.sun_hot %>
</p>

<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
